@import "./_variables.less";

html {

}

body {
  background: #fff;
  font: 14px @font-sans;
  display: grid;
  grid-template-areas: 
  "header header" 
  "default sidebar" 
  "footer footer";
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 1fr 300px;
  gap: 20px;
}

html, body {
  width: 100%;
  height: 100%;
}

body, div, ul, li, span, p, input, button {
  margin: 0;
  padding: 0;
}

#header {
  grid-area: header;
}

#sidebar {
  grid-area: sidebar
}

#footer {
  grid-area: footer;
}

@import "./_portial/highlight.less";
@import "./_portial/article.less";