@import "./_variables.less";

html {
  width: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  font: 14px @font-sans;
  display: grid;
  grid-template-areas: 
  "header header" 
  "default sidebar" 
  "footer footer";
  grid-template-rows: 100px 1fr 100px;
  // 不加minmax会导致被撑开
  grid-template-columns: minmax(0, 1fr) 300px;
  gap: 20px;
}

body, div, ul, ol, li, span, h1, h2, h3, h4, h5, h6, p, figure, input, button {
  margin: 0;
  padding: 0;
}

#header {
  grid-area: header;
}

#sidebar {
  height: max-content;
  grid-area: sidebar;
  position: sticky;
  top: 0;
}

#footer {
  grid-area: footer;
}

@import "./_portial/highlight.less";
@import "./_portial/article.less";
@import "./_portial/widget.less";