<header id="header">
  <menu id="menu">
    <% Object.keys(theme.menu).forEach(key => { %>
      <a href="<%= theme.menu[key] %>"><%= __(key) %></a>
    <% }); %>
  </menu>

  <span class="avatar">
    <img alt="avatar" src="<%= theme.avatar %>" />
  </span>
</header>